body
{
    background-color:whitesmoke;
    margin-right: 3%;
    margin-left: 3%;
}

span
{
    /* color: teal; */
    color: orange;
}

p
{
    font-size: 16px;
}

.footer_text
{
    font-size: 13px;
}

hr
{
    color: #c6c6c6;
    margin-right: 1%;
    margin-left: 1%;
}